In [ ]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

load_dotenv()
api_key = os.getenv('api_key')

#data extraction
url = f"https://api.openweathermap.org/data/2.5/weather?q=Nairobi&appid={api_key}"

response = requests.get(url)
data= response.json()

data

#city name, description,humididty,temp

{'coord': {'lon': 36.8167, 'lat': -1.2833},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 292.69,
  'feels_like': 292.37,
  'temp_min': 292.69,
  'temp_max': 292.69,
  'pressure': 1015,
  'humidity': 64,
  'sea_level': 1015,
  'grnd_level': 838},
 'visibility': 10000,
 'wind': {'speed': 2.75, 'deg': 127, 'gust': 3.17},
 'clouds': {'all': 97},
 'dt': 1752674390,
 'sys': {'country': 'KE', 'sunrise': 1752637021, 'sunset': 1752680408},
 'timezone': 10800,
 'id': 184745,
 'name': 'Nairobi',
 'cod': 200}

In [2]:
response.status_code

200

In [ ]:
#data tramsformation
if response.status_code == 200:
    city= data.get('name')
    temperature= data['main']['temp']
    humidity= data['main']['humidity']
    description= data['weather'][0]['description']

    weather_data = {
        'City':[city],
        'Temperature(K)' : [temperature],
        'Humidity(%)' : [humidity],
        'Description' : [description],
    }



else:
    print(f"Error! : {response.status_code}")

df= pd.DataFrame(weather_data)

df

      City  Temperature(K)  Humidity(%)      Description
0  Nairobi          292.69           64  overcast clouds

In [ ]:
#loading the data to postgresql 
password = os.getenv("password")
user = os.getenv("user")
port = os.getenv("port")
host = os.getenv("host")
name = os.getenv("database_name")


#creating the sql alchemy engine
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{name}")


df.to_sql("nairobi_weather", engine, if_exists="replace", index=False)

1